<p>product works!</p>
<table border="1">
    <thead>
        <tr>
            <th>Blend Name</th>
            <th>Intensifier</th>
            <th>Notes</th>
            <th>Origin</th>
            <th>Variety</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of li;">
            <td>{{ item.blend_name }}</td>
            <td>{{ item.intensifier }}</td>
            <td>{{ item.notes }}</td>
            <td>{{ item.origin }}</td>
            <td>{{ item.variety}}</td>
        </tr>
    </tbody>
</table>